@import "active_admin/mixins";
@import "active_admin/base";

$primary-color: #2e7d32;
$link-color: #388e3c;

body.active_admin {
  .header #site_title {
    font-weight: 600;
  }

  .status_tag {
    &.yes,
    &.ok {
      background: #2e7d32;
    }
  }
}
